<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;key&gt;NSCalendarsUsageDescription&lt;/key&gt;</key>
	<string>&lt;string&gt;此应用需要访问您的日历以添加日程安排&lt;/string&gt;</string>
</dict>
</plist>
